doctype html
html
    head
        //- link(href="/css/style.css")
        link(href='./css/style.css',rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Lora",rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lora" rel="stylesheet")
        title= title
    body
        block content

    