extends admin_layout

block content
    div(id = "header")
        h1 Welcome 
            span= title
    div(class ="top_menu")
        div(class = "nenu")
            ul
                li(class="transcript_menu") 
                    a(href="#",id="tran_table",class="active_menu") Transcript  table
                li(class="student_menu") 
                    a(href="#",id="student_table") Student  table
                li(class="course_menu") 
                    a(href="#",id="course_table") Course  table
    
    div(id = "container_exec")
        h2 Add Transcripts
        div(id = "form_tran")
            form(id = "form_tran_f")
                input(type="text",id="stu_id",name="stu_id_tran",placeholder = "Enter Student ID")
                input(type="text",name="sub_id_tran",placeholder = "Enter Course ID")
                input(type="text",name="year",placeholder = "Enter Year")
                input(type="text",name="semester",placeholder = "Enter semester")
                input(type="text",name="gpa",placeholder = "Enter GPA")
                input(type="text",name="comment",placeholder = "Enter Comment")
                br
                input(id="btn_tran",type="button",value="Submit")          
    div(id = "alert")
        h4(class= "message") test
    div(id="contaiber_data")
        div(id="show_wheClick")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    //- script(src="./script/main.js")
    script(src="./script/interact.js")
